.top_page-header

.main_page
  .title_contents
    .title_name
      人生を変えるフリマアプリ
    .title_explain
      FURIMAはだれでもかんたんに出品・購入できる
      フリマアプリです

    .store_btn

  .reason_contents
    .reason_title
      FURIMAが選ばれる３つの理由
    
    .reason_list


  .link_contents
    .link_title
      会員数日本一位

    .link_explain
      FURIMAは、フリマアプリで最も人気。
      出品・購入回数も業界最多です！
      欲しかったあの商品に出会えるかもしれません。
    
    .store_btn


  .feature_contents
    .feature_title
      FURIMAの特徴

    .feature_list

  .item_contents
    .item_title
      ピックアップカテゴリー
    
    .item_list

  .add_footer-contents
    .add_explain
      だれでもかんたん、人生を変えるフリマアプリ
    
    .add_title
      今すぐ無料ダウンロード！

    .store_btn

  .footer-contents
    .footer_menu
      .footer_list
        .footer_list_title
          FURIMAについて
        
        .footer_list_link


      .footer_list
        .footer_list_title
          FURIMAを見る
        
        .footer_list_link
        

      .footer_list
        .footer_list_title
          FURIMAについて
        
        .footer_list_link
        