* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.main{
  background-color: white;

  .title_contents{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    padding: 5vh 15vw;
    
    .title_name{
      font-size: 8vh;
    }

  }
}